.body {
  background-color: #fff;
}
.image {
  background-image: url("../images/details-black-woman-wearing-grey-leather-coat-posing-beige-background-brown-bag-white-sunglasses-hands-autumn-winter-fashion-concept.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}
.image1 {
  background-image: url("https://images.unsplash.com/photo-1532453288672-3a27e9be9efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNsb3RoaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.cozy {
  background-image: url("../images/mohamadreza-khashai-ziubUDopHmc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
.sport {
  background-image: url("../images/julia-rekamie-Z72YujnOrlY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
.image-text {
  text-align: center;
  display: inline-block;
  color: brown;
}
.suit {
  background-image: url("../images/alexander-naglestad-RFhq0SrrgEg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}
